$table-filter-back-color: #5468B5;

@mixin arrivingColorType($income) {
    display: inline-block;
    padding: 0 16px;
    border: 1px solid #fff;
    
    @if $income {
        background-color: #52BE68;
    } @else {
        background-color: #E43A37;
    }
}
.wrapper-history {
    margin: 0 1rem 0 2.5rem;
}
.history-description {
    display: inline-block;
    margin-bottom: 50px;
}
.custom-card-table {
    margin-right: 1rem;
    background-color: #FFBC3E !important;
}
table {
    color: #fff;
    font-size: 1.3rem;
    tbody {
        max-height: 400px !important;
        overflow-y: auto;
    }
    tr {
        border-color: #fff;
    };
};


.income {
    @include arrivingColorType($income: true);
};
.consumption {
    @include arrivingColorType($income: false);
};

.custom-card-table-filter {
    background-color: $table-filter-back-color !important;
    input[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
        border-color: whitesmoke !important;
    }
    .card-header {
        margin-top: 0;
        text-align: left;
    }
}