@import "../../node_modules//materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@mixin input($prop, $val) {
    #{$prop}: $val;
}
@mixin label($prop, $val) {
    #{$prop}: $val;
}
input {
    @include input(border-bottom-color, #fff !important);
}
label {
    @include label(color, #fff !important);
}