$category-main-back-color: #AFAFFF !important;
$category-secondary-color: #FFBC3E !important;
@mixin input($prop, $val) {
    #{$prop}: $val;
}
@mixin label($prop, $val) {
    #{$prop}: $val;
}
@mixin category-back-color($prop, $val) {
    #{$prop}: $val;
}
// main means color of category which is can be main or secondary
@mixin button($main: false) {
    width: 100%;
    margin: 0 0 !important;
    @if $main {
        background-color: $category-main-back-color;
    } @else {
        background-color: $category-secondary-color;
    };
};
.wrapper-category {
    display: flex;
    flex-direction: row;
    margin-left: 1.6rem;

    & > .card {
        width: 50vw;
        margin-left: 1rem;
        margin-right: 1rem;
    };

    .category-create {
        @include category-back-color(background-color, $category-main-back-color);
        input {
            @include input(border-bottom-color, #fff !important);
        }
        label {
            @include label(color, #fff);
        }
        button {
            @include button($main: false);
        }
    }
    .category-change {
        @include category-back-color(background-color, $category-secondary-color);
        input {
            @include input(border-bottom-color, #fff !important);
        }
        label {
            @include label(color, #fff);
        }
        button {
            @include button($main: true);
        }
    }
}