$available-bill-back-color: #63BC84;
$current-currency-price-back-color: #FF9D70;
.wrapper {
    display: flex ;
    flex-direction: row;
    width: 100vw;
    .available-bill {
        width: 30vw;
        padding: 0 1rem 0 2.3rem;
        & > .card {
            background-color: $available-bill-back-color;
        }
        h5 {
            display: inline;
        }
    }
    .current-currency-price {
        width: 70vw;
        padding: 0 1rem 0 1rem;
        & > .card {
            background-color: $current-currency-price-back-color;
        }
        button {
            position: absolute;
            top: 10px;
            right: 0;
            padding: 0 12px;
            i {
                font-size: 24px;
            }
        }
        .currencies-list {
            td {
                border-bottom: 1px solid #fff;
                font-size: 20px;
                small {
                    font-size: .8rem;
                }
            }
        }
    }
}