$custom-card-back-color: #AFAFFF;
$card-user-inf-back-color: #85AAE8;

.custom-card-change-bill {
    width: 30vw;
    background-color: $custom-card-back-color !important;
    button {
        background-color: $card-user-inf-back-color !important;
    }
}